.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px 20px;
  height: 200vh; /* Assure que la page soit suffisamment longue pour faire défiler */
  background-color: #f4f4f9;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: #666;
  max-width: 800px;
}

.horizontal-scroll {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding: 20px 0;
  height: 50vh; /* Hauteur du conteneur à 50vh */
  width: 100%;
  scroll-behavior: smooth; /* Effet de défilement fluide */
  justify-content: flex-start; /* Commence le défilement à gauche */
  align-items: center; /* Centre les éléments verticalement */
}

.chapter-slide {
  scroll-snap-align: center; /* Centre chaque chapitre quand il est visible */
  flex: 0 0 80%; /* Chaque chapitre occupe 80% de la largeur du conteneur */
  margin: 0 10%; /* Ajoute un espacement visible des chapitres adjacents */
  position: relative;
  text-align: center;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.chapter-slide:hover {
  transform: translateY(-10px); /* Animation au survol */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.chapter-image {
  width: auto; /* Conserve les proportions de l'image */
  height: 150px; /* Taille fixe de hauteur, ajustable selon tes besoins */
  max-width: 80%; /* Limite la largeur maximale, ajustable */
  object-fit: contain; /* S'assure que l'image reste dans les limites sans déformation */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Optionnel : ajoute un effet d'ombre */
}
.chapter-slide h2 {
  font-size: 1.5rem;
  margin: 15px 0 10px;
  color: #333;
}

.chapter-slide p {
  font-size: 1rem;
  color: #777;
  padding: 0 20px 20px;
}

.horizontal-scroll::-webkit-scrollbar {
  display: none;
}
.horizontal-scroll {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

/* Responsive Design */
@media (max-width: 768px) {
  .horizontal-scroll {
    padding: 10px 0;
  }

  .chapter-slide {
    flex: 0 0 90%; /* Augmenter la taille sur les petits écrans */
    margin-right: 15px;
  }
}
