.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
  overflow: hidden;
  text-align: center;
}

.intro-title {
  font-size: 32px;
  font-weight: 700;
  color: #333;
  margin-bottom: 20px; 
  text-transform: uppercase;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  z-index: 10;
  transition: all 0.3s ease-in-out;
}

.start-button {
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 20px;
  padding: 15px 30px;
  transition: background-color 0.3s, transform 0.3s;
}

.start-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.start-button:active {
  background-color: #004085;
}

.video-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.video-fullscreen {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.skip-button {
  position: absolute;
  bottom: 50px; 
  left: 30px;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  z-index: 10;
  text-transform: uppercase;
}

.skip-button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 1s ease;
}

.skip-button:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}