body,html {
  font-family: Montserrat;
  margin: 0;
  padding: 0;

  scrollbar-width: none; /* Pour les navigateurs Firefox */
  -ms-overflow-style: none; /* Pour Internet Explorer et Edge */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; 
}

* {
  user-select: none;
}

/* .content {
  padding: 20px;
} */
